---
layout: null
sitemap: false
---
.header-logo {
    height: auto; // Maintains aspect ratio
    width: 120px; // Adjust this value to scale the logo
}
$brand-colour: #35d69b;

$nav-header-height: 120px;
$nav-background-color: #005072;
$nav-width: 210px;

$space: 20px;

$mobile-break: 700px;

{% if site.baseurl %}
	$base-url: {{ site.baseurl }};
{% else %}
	$base-url: '';
{% endif %}

@import "mixins";
@import "main";
@import "borland";
@import "monaki";
@import "cloudcannon";
